h1 {
 text-align: center;
}
.jumbotron {
  background-color: #D5AE41;
}
.container {
  background-color: #CFB095;
}
.col-md-6 {
  background-color: #766F57;
}
.messages2{
  font-size: 40px;
}
.results2{
  font-size: 40px;
}
